.linkfree-button {
  margin: auto;
  height: 150px;
  border: 20px;
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

#1 {
   border-style: outset;
   border-color: olive;
   border: 1;
   width: auto;
   padding-left: 40px;
   padding-right: 40px;
   border-radius: 5px;
}

h1 {
  margin: auto;
  width: 50%;
  font-size: 48px;
  font-weight: bold;
}

h2 {
  margin: auto;
  width: 50%;
  font-size: 36px;
  font-weight: bold;
}
