.linkfree-button {
  margin: auto;
  height: 150px;
  border: 20px;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

img {
   border: 25px solid olive;
   margin: auto;
   padding-left: 40px;
   padding-right: 40px;
   border-radius: 5px;
   width: 50%;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 48px;
  font-weight: bold;
  text-decoration: underline;
  background: gold;
}

h2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
}
