.linkfree-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 20px;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

img {
   border: 10px solid olive;
   border-radius: 50%;
   width: 200px;
   height: 200px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

h1 {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  text-decoration: underline;
  background: gold;
}

h2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
